<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<?ifdef env.Version?>
	<?define myVersion="$(env.Version)"?>
	<?else ?>
	<?define myVersion="0.0.0.0"?>
	<?endif ?>
	<?define myProductName="MCollective"?>
	<?define upgradeCode="D1B7E318-BED6-430C-9194-9427BEA29797"?>
	
	<Product Name="$(var.myProductName)-$(var.myVersion)" Version="$(var.myVersion)" Id='*' UpgradeCode="$(var.upgradeCode)" Language='1033' Codepage='1252' Manufacturer='Labatt Food Service'>
		<Package Id='*' Compressed='yes' InstallerVersion='300' InstallScope="perMachine"  />
		<Media Id='1' Cabinet='mcollective' EmbedCab='yes' />

		<MajorUpgrade DowngradeErrorMessage='A later version of $(var.myProductName) is already installed. Setup will now exit.' />
		<Upgrade Id="$(var.upgradeCode)" >
			<UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes"
											Maximum="$(var.myVersion)" IncludeMaximum="yes"
											Property="PREVIOUSVERSIONSINSTALLED" 
											OnlyDetect="no" />
		</Upgrade>
		<Property Id='PUPPETLABSINSTALLED'>
			<RegistrySearch Id='PuppetLabsRememberedInstallDir' Type='raw' Root='HKLM' Key='SOFTWARE\Puppet Labs\Puppet' Name='RememberedInstallDir' Win64='no' />
		</Property>

		<Condition Message='Puppet from Puppet Labs is a requirement.'>
			PUPPETLABSINSTALLED
		</Condition>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder'>
				<Directory Id='ProgramFilesFolder_MCollective' Name='MCollective'>
					<Directory Id='Opt' Name='opt'>
						<Component Id='Daemon' Guid='59F55255-AE9C-4F2C-ACE9-89432AD065E0'>
							<File Source='..\opt\service.bat' KeyPath='yes' />
							<ServiceInstall 
								Name='$(var.myProductName)' 
								DisplayName='$(var.myProductName)' 
								ErrorControl='normal' 
								Start='auto' 
								Type='ownProcess' 
								Vital='yes' 
								Id='ServiceInstaller' />
							<ServiceControl Id='StartService' Start='install' Stop='both' Remove='uninstall' Name='$(var.myProductName)' Wait='yes' />
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id='CommonAppDataFolder'>
				<Directory Id='CommonAppDataFolder_MCollective' Name='MCollective'>
					<Directory Id='Etc' Name='etc'>
						<Component Id='EtcDirectory' Guid='F85D5C40-541E-44B2-99AE-A11CE906CA4C'>
							<CreateFolder>
								<Permission User="Everyone" GenericAll="yes" />
							</CreateFolder
						</Component>
					</Directory>
					<Directory Id='Var' Name='var'>
						<Directory Id='Log' Name='log'>
							<Component Id='LogDirectory' Guid='412AF20A-9266-40D8-8592-287C6C488FCA'>
								<CreateFolder>
									<Permission User="Everyone" GenericAll="yes" />
								</CreateFolder
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<InstallExecuteSequence />

		<Feature Id='Default'>
			<ComponentGroupRef Id='Tarball' />
			<ComponentRef Id='Daemon' />
			<ComponentRef Id='EtcDirectory' />
			<ComponentRef Id='LogDirectory' />
		</Feature>
	</Product>
</Wix>
